<!Doctype html>
<html>
<head>
    <title>DMT 14C: Data acquisition software</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='dist/css/output.css')}}" rel="stylesheet">
</head>

<!--Title card-->
<body class="bg-slate-100">
    <div class="bg-blue-900 p-3">
        <h1 class="text-slate-50 p-4 text-3xl text-center font-bold mt-4 mb-4">DMT 14C: Aerodynamic probe and data acquisition software</h1>
        <p class="text-slate-50 text-xl font-bold ml-4 mt-5 mb-3">Software navigation</p>  
        <div class="grid grid-cols-3 gap-4 ml-4 mr-4 text-slate-50">
            <button class="bg-blue-800 rounded p-3 border-2" onclick="window.location.href='/software_manual'">How To Use</button>
            <button class="bg-blue-800 rounded p-3 border-2" onclick="window.location.href='/input_parameters'">Input Paramters</button>
            <button class="bg-blue-800 rounded p-3 border-2" onclick="window.location.href='/saved_profiles'">Saved Profiles</button>
        </div>
    </div>

    <!--Input parameter cards-->

    <p class="text-xl font-bold ml-4 mt-5 mb-3">Current profile</p>
        <select class="col-span-2 text-center bg-white border-2 rounded p-3 ml-4 mb-2" style="width: 30em">
            <option></option>
            <option>Profile 2</option>
            <option>Profile 3</option>
            <option>Profile 4</option>
        </select><br>
    </form> 
    
    <div>
        <p class="text-xl font-bold ml-4 mt-5 mb-3">Inputted values</p>
        <div>
            <p class="ml-4 mb-3">Select fan motor profile:</p>
            <form>
                <select id="motor_profile" name="motor_profile" class="text-center bg-white border-2 rounded p-3 ml-4 mb-3" style="width: 15em">
                    <option value="profile_constant_speed">Constant speed</option>
                    <option value="profile_ramp_up">Ramp up</option>
                    <option value="profile_ramp_down">Ramp down</option>
                    {% for profileName in savedProfiles %}
                        <option value="{{ profileName }}">{{ profileName }}</option>
                    {% endfor %}
                </select><br>
            </form>
        </div>
    </div>
    

        <div class="grid grid-cols-6 gap-4 ml-4 mr-4 mb-6">
            <!--Fan motor parameters-->
            <div class="col-span-2 bg-white rounded p-3">
                <p class="text-slate-500 ml-1 mb-3">Fan motor</p>
                    <div class="grid grid-cols-5 gap-2 mb-4">
                        <p class="text-center">Duty cycle [%]</p>
                        <p class="text-center">Current [A]</p>
                        <p class="text-center">Input speed [rpm]</p>
                        <p class="text-center">Ramp down speed [rpm]</p>
                        <p class="text-center">Ramp up speed [rpm]</p>
                    </div>
                    <div class="grid grid-cols-5 gap-2 mb-2">
                        <div>
                            <p class="text-xl text-center font-bold">
                                {% if input_motor_data.duty_cycle %}
                                    {{ input_motor_data.duty_cycle}}
                                {% else %}
                                    0
                                {% endif %}
                            </p>
                        </div>
                        <div>
                            <p class="text-xl text-center font-bold">
                                {% if input_motor_data.current %}
                                    {{ input_motor_data.current}}
                                {% else %}
                                    0
                                {% endif %}
                            </p>
                        </div>
                        <div>
                            <p class="text-xl text-center font-bold">
                                {% if input_motor_data.speed %}
                                    {{ input_motor_data.speed}}
                                {% else %}
                                    0
                                {% endif %}
                            </p>
                        </div>
                        <div>
                            <p class="text-xl text-center font-bold">
                                {% if input_motor_data.ramp_down_speed %}
                                    {{ input_motor_data.ramp_down_speed}}
                                {% else %}
                                    0
                                {% endif %}
                            </p>
                        </div>
                        <div>
                            <p class="text-xl text-center font-bold">
                                {% if input_motor_data.ramp_up_speed %}
                                    {{ input_motor_data.ramp_up_speed}}
                                {% else %}
                                    0
                                {% endif %}
                            </p>
                        </div>
                    </div>
            </div>           
            <!--Linear actuator-->
            <div class="bg-white rounded p-3">
                <p class="text-slate-500 ml-1 mb-3">Linear actuator</p>
                <p class="text-xl text-center mb-5">Actuator position [mm]</p>
                <div>
                    <p class="text-xl text-center font-bold p-5">
                        {% if input_motor_data.linear_actuator %}
                            {{ input_motor_data.linear_actuator}}
                        {% else %}
                            0
                        {% endif %}
                    </p>
                </div>
            </div>
            <!--Rotary motor-->
            <div class="bg-white rounded p-3">
                <p class="text-slate-500 ml-1 mb-3">Rotary motor</p>
                <p class="text-xl text-center mb-5">Rotary position [&#176;]</p>
                <div>
                    <p class="text-xl text-center font-bold p-5">
                        {% if input_motor_data.rotary_motor %}
                            {{ input_motor_data.rotary_motor}}
                        {% else %}
                            0
                        {% endif %}
                    </p>
                </div>
            </div>
            <!--Reset button-->
            <div class="bg-white rounded p-3">
                <p class="text-slate-500 ml-1 mb-3">Reset values</p>
                <form action="{{url_for('reset_session')}}" method="POST" class="text-center">
                    <button class="bg-yellow-400 hover:bg-yellow-500 rounded p-4 mt-4 text-lg text-center font-bold" style="width: 7em">Reset</button>    
                </form>
            </div>
            <!--System control-->
            <div class="bg-white rounded p-3">
                <p class="text-slate-500 ml-1 mb-3">System control</p>
                <div class="grid grid-cols-2 gap-4">
                    <form action="{{url_for('start_all')}}" method="POST">
                        <button type="submit" name="button" value="start_button" class="bg-green-500 hover:bg-green-600 rounded p-4 ml-1 mt-4 text-lg font-bold" style="width: 5em">Start</button>
                    </form>
                    <form action="{{url_for('stop')}}" method="POST">
                        <button type="submit" name="button" value="stop_button" class="bg-red-500 hover:bg-red-600 rounded p-4 mr-1 mt-4 text-lg font-bold" style="width: 5em">Stop</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div>
        <p class="text-xl font-bold ml-6 mt-5 mb-3">Key parameters</p>
    
        <div class="grid grid-cols-6 gap-4 ml-4 mr-4 mb-4">
            <div class="bg-white rounded p-4">
                <p class="text-slate-500 ml-1 mb-3">Pressure (static) [Pa] - P<sub>0</sub></p>
                <p class="text-2xl text-center font-bold mt-10">
                    {% if last_values.P_0 %}
                        {{ last_values.P_0 }}
                    {% else %}
                        0
                    {% endif %}
                </p>
            </div>
            <div class="bg-white rounded p-4">
                <p class="text-slate-500 ml-1 mb-3">Pressure (differential) [Pa] - P<sub>1</sub></p>
                <p class="text-2xl text-center font-bold mt-5 mb-4">
                    {% if last_values.P_1 %}
                        {{ last_values.P_1 }}
                    {% else %}
                        0
                    {% endif %}            
                </p>
            </div>
            <div class="bg-white rounded p-4">
                <p class="text-slate-500 ml-1 mb-3">Pressure (differential) [Pa] - P<sub>2</sub></p>
                <p class="text-2xl text-center font-bold mt-5">
                    {% if last_values.P_2 %}
                        {{ last_values.P_2 }}
                    {% else %}
                        0
                    {% endif %} 
                </p>
            </div>
            <div class="bg-white rounded p-4">
                <p class="text-slate-500 ml-1 mb-3">Pressure (differential) [Pa] - P<sub>3</sub></p>
                <p class="text-2xl text-center font-bold mt-5">
                    {% if last_values.P_3 %}
                        {{ last_values.P_3 }}
                    {% else %}
                        0
                    {% endif %} 
                </p>
            </div>
            <div class="bg-white rounded p-4">
                <p class="text-slate-500 ml-1 mb-3">Strain gauge 1 [N]</p>
                <p class="text-2xl text-center font-bold mt-7">
                    {% if last_values.Strain_0 %}
                        {{ last_values.Strain_0 }}
                    {% else %}
                        0
                    {% endif %} 
                </p>
            </div>
            <div class="bg-white rounded p-4"> 
                <p class="text-slate-500 ml-1 mb-3">Strain gauge 2 [N]</p>
                <p class="text-2xl text-center font-bold mt-7">
                    {% if last_values.Strain_1 %}
                        {{ last_values.Strain_1 }}
                    {% else %}
                        0
                    {% endif %} 
                </p>
            </div>
        </div>

        <div class="grid grid-cols-4 gap-4 ml-4 mr-4 mb-4">
            <div class="bg-white rounded p-4">
                <p class="text-slate-500 ml-1 mb-3">Flow velocity [m/s]></p>
                <p class="text-2xl text-center font-bold mt-10 mb-4">
                    0
                </p>
            </div>
            <div class="bg-white rounded p-4">
                <p class="text-slate-500 ml-1 mb-3">Yaw angle [&#176;]</p>
                <p class="text-2xl text-center font-bold mt-10">
                    0
                </p>
            </div>
            <div class="bg-white rounded p-4">
                <p class="text-slate-500 ml-1 mb-3">Mass flow rate [kg/s]></p>
                <p class="text-2xl text-center font-bold mt-10">
                    0
                </p>
            </div>
            <div class="bg-white rounded p-4">
                <p class="text-slate-500 ml-1 mb-3">Density [kg/m^3]></p>
                <p class="text-2xl text-center font-bold mt-10">
                    0
                </p>
            </div>
        </div>
    </div>
    

    </div>
        <p class="text-xl font-bold ml-6 mt-5 mb-3">Graphs</p>

        <div class="grid grid-cols-3 gap-4 ml-4 mr-4 mb-4">
            <div class="bg-white rounded p-3">
                <p class="text-slate-500 ml-1 mb-3">Pressure (static & stagnation) [Pa]</p>
                <div>
                    <canvas id="pressureChart" width="1500" height="1000"></canvas>
                </div>
                  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                  <script>
                    var ctx1 = document.getElementById('pressureChart').getContext('2d');
                    var labels = JSON.parse('{{ time_data | safe }}');
                    var json_p_zero_data = JSON.parse('{{ json_p_zero_data | safe }}');
                    var json_p_one_data = JSON.parse('{{ json_p_one_data | safe }}');
                    var json_p_two_data = JSON.parse('{{ json_p_two_data | safe }}');
                    var json_p_three_data = JSON.parse('{{ json_p_three_data | safe }}');

                    new Chart(ctx1, {
                    type: 'line',
                    data: {
                        labels,
                        datasets: [{
                            label: 'P_0',
                            data: json_p_zero_data,
                            borderWidth: 1,
                        }, {
                            label: 'P_1',
                            data: json_p_one_data,
                            borderWidth: 1,
                        }, {
                            label: 'P_2',
                            data: json_p_two_data,
                            borderWidth: 1,
                        }, {
                            label: 'P_3',
                            data: json_p_three_data,
                            borderWidth: 1,
                        }
                        ]
                    },
                    options: {
                        scales: {
                            x: {
                                beginAtZero: true,
                                title: {
                                    display: true,
                                    text: 'Time [s]',
                                },
                            },
                            y: {
                                beginAtZero: false,
                                title: {
                                    display: true,
                                    text: 'Pressure [Pa]',
                                }
                            },
                        }
                    }
                    });

                  </script>
            </div> 

            <div class="bg-white rounded p-3">
                <p class="text-slate-500 ml-1 mb-3">Thrust [N]</p>
                <div>
                    <canvas id="thrustChart" width="1500" height="1000"></canvas>
                </div>
                  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                  <script>
                    var ctx3 = document.getElementById('thrustChart').getContext('2d');
                    var labels = JSON.parse('{{ time_data | safe }}');
                    var json_strain_gauge_zero_data = JSON.parse('{{ json_strain_gauge_zero_data | safe }}');
                    var json_strain_gauge_one_data = JSON.parse('{{ json_strain_gauge_one_data | safe }}');
                    new Chart(ctx3, {
                    type: 'line',
                    data: {
                        labels,
                        datasets: [{
                            label: 'Strain Gauge 1',
                            data: json_strain_gauge_zero_data,
                            borderWidth: 1,
                        }, {
                            label: 'Strain Gauge 2',
                            data: json_strain_gauge_one_data,
                            borderWidth: 1,
                        }
                        ]
                    },
                    options: {
                        scales: {
                            x: {
                                beginAtZero: true,
                                title: {
                                    display: true,
                                    text: 'Time [s]',
                                },
                            },
                            y: {
                                beginAtZero: false,
                                title: {
                                    display: true,
                                    text: 'Thrust [N]',
                                }
                            },
                        }
                    }
                    });
                  </script>
            </div>

            <div class="bg-white rounded p-3">
                <p class="text-slate-500 ml-1 mb-3">Motor temperature [&#176;C]</p>
                <div>
                    <canvas id="motortempChart" width="1500" height="1000"></canvas>
                  </div>
                  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                  <script>
                    var ctx3 = document.getElementById('motortempChart').getContext('2d');
                    var labels = JSON.parse('{{ time_data | safe }}');
                    var json_motor_temp_data = JSON.parse('{{ json_motor_temp_data | safe }}');
                    new Chart(ctx3, {
                    type: 'line',
                    data: {
                        labels,
                        datasets: [{
                            label: 'Motor temperature',
                            data: json_motor_temp_data,
                            borderWidth: 1,
                        }
                        ]
                    },
                    options: {
                        scales: {
                            x: {
                                beginAtZero: true,
                                title: {
                                    display: true,
                                    text: 'Time [s]',
                                },
                            },
                            y: {
                                beginAtZero: false,
                                title: {
                                    display: true,
                                    text: 'Temperature [\xB0C]',
                                }
                            },
                        }
                    }
                    });
                  </script>
            </div>
        </div>

        <div class="grid grid-cols-3 gap-4 ml-4 mr-4 mb-4">
            <div class="bg-white rounded p-3"></div>
            <div class="bg-white rounded p-3"></div>
            <div class="bg-white rounded p-3"></div>
        </div>
    </div>
           
        <!-- Export CSV button -->
        <div class="bg-white rounded p-3">
            <p class="text-slate-500 ml-1 mb-3"></p>
            <form action="{{ url_for('export_csv') }}" method="POST" class="text-center" style="display: flex; align-items: center;">
                <input type="text" name="file_path" placeholder="File Path" style="flex: 1;">
                <button class="bg-green-400 hover:bg-green-500 rounded p-4 mt-4 text-lg text-center font-bold" style="width: 7em; {% if not export_csv_enabled %}background-color: green;{% endif %}" {% if not export_csv_enabled %}disabled{% endif %}>Export To CSV</button>
            </form>
        </div>



        </div>  
</body>
</html>